Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd 
import numpy as np
data = np.array([4,8,15,16,23,42])
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
# import pandas lib. as pd
import pandas as pd
ind = [10,20,30,40,50,60,70]
list = ['Geeks', 'for', 'Geeks', 'is', 'portal', 'for', 'geeks']

#create Pandas series with define indexex 
x = pd.Series(list, index = ind)

#print the series 
print(x)

10     Geeks
20       for
30     Geeks
40        is
50    portal
60       for
70     geeks
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [9]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['alice', 'bob', 'Claire'],
            'age' : [25, 30, 27],
            'Claire' : ['female', 'male', 'female']}
#labels = ['a', 'b', 'c']

df = pd.DataFrame(exam_data , index=labels)
print(df)

     name  age  Claire
a   alice   25  female
b     bob   30    male
c  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

As noted in the table, a pandas Series is a 1D array of data, but a single column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a series has to have an index defined.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Most Important Pandas Functions for Data Science
1.read_csv() This is one of the most crucial pandas methods in Python.
2.head() head(n) is used to return the first n rows of a dataset.
3.describe()
4.memory_usage()
5.astype()
6.loc(:)
7.to_datetime()
8.value_counts()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All Pandas data structures are value mutable (can be changed ) and except Series all are size mutable. Series is size immutable. Note - DataFrame is widely used and one of the most important data structures. Panel is used much less

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
course = pd.Series(["Spark", "PySpark", "Hadoop"])
fees = pd.Series([22000, 25000, 23000])
discount = pd.Series([1000, 2300, 1000])

df=pd.concat([courses,fees], axis=1)

df=pd.concat([courses,fees,discount], axis=1)
print(df)

In [ ]:
course = pd.Series(["Spark", "PySpark", "Hadoop"])
fees = pd.Series([22000, 25000, 23000])
discount = pd.Series([1000, 2300, 1000])

df=pd.concat([courses,fees], axis=1)

df=pd.concat([courses,fees,discount], axis=1)
print(df)